<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon"href="/img/weather.png"
    
</head>

<body>

  <link rel="stylesheet"href="/css/style.css"

    <div class="main-content"> 
      {{>header }}
      <p> This site is created by Aesha shah. It uses data for mapbox and weather stack app  </p>
    <img class="portrait" src="/img/img.png">



    </div>
            {{>footer}}
</body>

</html>